<!DOCTYPE html>
<html>
 <%= render 'layouts/header' %>
  <body>
  	<%= render 'layouts/navbar' %>
  	<div class="container-fluid">
	    <%= yield %>
	    <%= render 'layouts/footer' %>
	   </div>
  </body>
</html>
